# Git
.git
.gitignore
.gitattributes

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Virtual environments
venv/
.venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
*.egg

# Project specific
tg_downloader.session*
tg_downloader.log
config.json
temp/
.ruff_cache
.env

# AI
AGENTS.md
